{
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "vue/singleline-html-element-content-newline": "off",
    "vue/multi-word-component-names": "off",
    "no-empty": "warn",
    "eqeqeq": "error",
    "no-alert": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-var": "error",
    "no-unused-vars": "error",
    "no-console": "warn",
    "no-undef": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "arrow-body-style": "error",
    "prefer-template": "error",
    "no-tabs": "error"
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  }
}
